body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #ff6600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pizza-card {
    width: 80%; /* Adjusted for smaller screens */
    max-width: 300px; /* Maximum width for larger screens */
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pizza-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.pizza-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pizza-ingredients {
    margin-bottom: 20px;
}

.order-button {
    background-color: #ffaa00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 101;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: #ffaa00;
}

.form-field {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    background-color: #ffaa00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #ffc107;
}

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    .pizza-card {
        width: 90%;
    }
}
